<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirm Your Email Address</title>
</head>

<body>
  <div style="max-width: 600px; margin: 0 auto; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5;">
    <h2>Confirm Your Email Address</h2>
    <p>Hello {{username}},</p>
    <p>Thank you for signing up with Aquavita. To activate your account, please enter the following OTP code in our
      mobile app:</p>
    <p><strong>OTP Code: {{otpCode}}</strong></p>
    <p>Open the app and enter the OTP code to verify your email address and activate your account.</p>
    <p>If you did not sign up for an account with Kelione, please ignore this email.</p>
    <p>Thank you,</p>
    <p>Aquavita</p>
  </div>
</body>

</html>